.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* left: 20rem; */
    background-color: rgb(226, 43, 43);
    color:aliceblue;
    font-size: 2rem;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 5px;
    border: 2px solid rgb(21, 16, 16);
    border-radius: 7px;
    box-shadow: 2px 2px 10px red ;
    box-sizing: border-box;
    text-align: center;
    /* animation: anime .4s linear ; */
}
.img-1,.img-2,.img-3{
    
    width: 200px;
    height:200px;
}
.img-1{
    
    
}
.img-2{
    position: relative;
    z-index: 1;
    margin: 0px -30px;
}
.img-3{
    position: relative;
    /* z-index: 1; */
    /* margin: -40px; */
    
}

.img img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 10px 0px;
}
.container:hover{
    background-color: aliceblue;
    color: brown;
}
@keyframes anime {
    0%{
        font-size: 2rem;
    }
    100%{
        font-size: 2.2rem;
    }
    
}
@media screen and (max-width:200px)
{ 
    .container
    {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px;
    font-size : .2rem;
    /* width:50%; */
    background-color: blue;
    }
}
@media screen and (max-width:800px)
{ 
    .container
    {
    font-size : 1.5rem;
    width:50%;
    }
}